echo Canceled.
# this is a note, it will not execute, to execute this script use: exec cancel.cfg


# action 
bind space "+jump"

# rebind/reset all other keys(defined in launcher.cfg)
bind 1 +weapon1
bind 2 +weapon2
bind 3 "+weapon3"
bind 4 "+weapon4"
bind 5 "+weapon5"
