echo Info geek, you may use Ctrl>Shift>D to toggle: debug & Ctrl>Shift>G to toggle: dbg_graphs
# this is a note, it will not execute. use "exec infogeek.cfg" execute this script.
## if you enabled any of these you might what to comment out the command with a # (else they will be toggled off.) 

say /mapinfo
toggle cl_nameplates_always 0 1
toggle cl_nameplates 0 1
toggle cl_show_votes_after_voting 0 1
toggle cl_show_local_time_always 0 1
toggle cl_showfps 0 1
toggle cl_showpred 0 1
toggle debug 0 1
toggle dbg_graphs 0 1
toggle cl_show_ids 0 1
toggle cl_show_direction 0 1
ping
say /rules
# prevents saving in this state
toggle cl_save_settings 1 0
