echo Introducing... 
# this is a comment, it will not execute. to execute this script use: exec introducing.cfg

# this will not display the first time executed
say /points

# this will not display 
say /rank

# but these would if you uncomment them	
#say Test 123
#say /dnd

# this will display the first time executed
say Hello! i'm a Pro-noob & have been playing TW for about 3 years,
