echo Precision hooking, this sets you mouse sensitivity to 100
# this is a note, it will not execute. use: exec "precision hooking.cfg"  with quotes to execute this script.
## instead of this Script try: bind lctrl "+toggle inp_mousesens 1 100; +showhookcoll" 
### that way holding left Ctrl will slooow mouse movement plus show the hook collision line 

# Shows current Mouse Sensitivity in Console
inp_mousesens

toggle inp_mousesens 1 100
toggle cl_overlay_entities 0 100
toggle cl_predict 0 1
toggle cl_predict_ddrace 0 1
toggle cl_show_hook_coll_always 0 1
## overridden by the above 
# cl_show_hook_coll_own 1
# toggle cl_show_hook_coll_other 1 0
 
 
# prevents saving in this state
toggle cl_save_settings 1 0


## if you enabled these you might what to toggle them off for this mode. 
#toggle cl_antiping 0 1
#toggle cl_antiping_limit 0 1
