### Join game from Specatator with a bind
bind ctrl+z "team -1; echo Joined?; exec Spectate.cfg"
# this is a comment, it will not execute. use exec "Spec.cfg" with quotes to execute this script.

## Spectates
# team -1
