# based off Fokkonauts work

# Action: IF|City move though walls mode
bind up say /up
bind down say /down
bind right say /right
bind left say /left
echo City move

# reset all rebinded keys, defined in launcher.cfg
bind 1 +weapon1
bind 2 +weapon2
bind 3 "+weapon3"
bind 4 "+weapon4"
bind 5 "+weapon5"
bind space "+jump"
