
###          Information
# Toggles "Deep-Fly"(meaning Your Dummy Hammers with you) off.
###

## this is a comment, it will not execute. To initiate this Script-Bind use: exec "Deep Fly Off.cfg"

# binds Left click(mouse1) to Shoot(fire)
bind mouse1 "+fire"

# tells you localy though chat whats going on
echo Disabled Deep Fly

# makes it so pressing Skroll Wheel will activate it
bind mouse3 exec "Deep Fly On.cfg"



